.messages {
    position: relative;
    padding: 20px;
    border-radius: 35px;
    background-color: #ffffff;
    border: 3px solid #5E548E;
    outline: 6px solid #8e87b0;
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: scroll;
}

.messages::-webkit-scrollbar {
    display: none;
}

.message {
    padding: 10px 20px;
    border-radius: 25px;
    max-width: 90%;
    position: relative;
}

.message::before,
.message::after {
    bottom: -0.1rem;
    content: "";
    height: 1rem;
    position: absolute;
}

.message.system {
    text-align: left;
    background-color: #bfbbd2;
    margin-right: auto;
}

.message.system:before {
    border-bottom-right-radius: 0.8rem 0.7rem;
    border-left: 1rem solid #bfbbd2;
    left: -0.35rem;
    transform: translate(0, -0.1rem);
}

.message.system::after {
    background-color: #FFFFFF;
    border-bottom-right-radius: 0.5rem;
    left: 20px;
    transform: translate(-30px, -2px);
    width: 10px;
}

.message.user {
    text-align: right;
    margin-left: auto;
    background-color: #5E548E;
    color: #FFFFFF;
}

.message.user::before {
    border-bottom-left-radius: 0.8rem 0.7rem;
    border-right: 1rem solid #5E548E;
    right: -0.35rem;
    transform: translate(0, -0.1rem);
}

.message.user::after {
    background-color: #FFFFFF;
    border-bottom-left-radius: 0.5rem;
    right: -40px;
    transform:translate(-30px, -2px);
    width: 10px;
}