.wrapper {
    position: relative;
    padding: 10px 50px 10px 20px;
    border-radius: 999em;
    background-color: #ffffff;
    border: 3px solid #5E548E;
}

.wrapper:focus-within {
    outline: none;
    outline: 6px solid #8e87b0;
}

.wrapper input {
    width: 100%;
    border: none;
    background-color: transparent;
    outline: none;
    height: 35px;
    padding: 0;
}

.wrapper input:-webkit-autofill,
.wrapper input:-webkit-autofill:hover,
.wrapper input:-webkit-autofill:focus,
.wrapper input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.wrapper button {
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 999em;
    padding: 10px;
    height: 35px;
    border: none;
    background-color: #f9dc5c;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper button:hover {
    background-color: #5E548E;
    color: #ffffff;
}

.wrapper audio {
    visibility: none;
}