.wrapper {
    display: flex;
    width: 100%;
}

.profile {
    position: relative;
}

.profile select {
    flex: 0 1 auto;
    position: relative;
    padding: 10px 20px;
    border-radius: 999em 0 0 999em;
    background-color: #ffffff;
    border: 3px solid #5E548E;
    border-right: none;
    appearance: none;
    height: 62px;
}

.profile select:focus-within {
    outline: none;
    outline: 6px solid #8e87b0;
}

.profile::after {
    content: "▼";
    font-size: 0.8rem;
    top: 22px;
    right: 5px;
    position: absolute;
  }

.bar {
    flex: 1 1 auto;
    position: relative;
    padding: 10px 50px 10px 20px;
    border-radius: 0 999em 999em 0;
    background-color: #ffffff;
    border: 3px solid #5E548E;
}

.bar:focus-within {
    outline: none;
    outline: 6px solid #8e87b0;
}

.bar input {
    width: 100%;
    border: none;
    background-color: transparent;
    outline: none;
    height: 35px;
    padding: 0;
}

.bar input:-webkit-autofill,
.bar input:-webkit-autofill:hover,
.bar input:-webkit-autofill:focus,
.bar input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.bar button {
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 999em;
    padding: 10px;
    height: 35px;
    border: none;
    background-color: #f9dc5c;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bar button:hover {
    background-color: #5E548E;
    color: #ffffff;
}

.bar audio {
    visibility: none;
}

.hidden {
    display: none;
}
