.wrapper {
    position: relative;
    padding: 10px 50px 10px 20px;
    border-radius: 999em;
    background-color: #ffffff;
    border: 2px solid #5E548E;
}

.wrapper:focus-within {
    outline: 5px solid #BE95C4;
}

.wrapper input {
    width: 100%;
    border: none;
    background-color: transparent;
    outline: none;
    height: 35px;
    padding: 0;
}

.wrapper button {
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 999em;
    padding: 10px;
    height: 35px;
    border: none;
    background-color: #5E548E;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper button:hover {
    background-color: #231942;
}